<div class="chatbot-content-container">
  <mat-card>
    <mat-card-content>Stats</mat-card-content>
  </mat-card>
  <mat-card class="chat">
    <mat-card-content>
      <div
        class="conversation-list"
        #conversationList
        [ngStyle]="{ height: screenHeight - scrollHeight + 'px' }"
      >
        <ng-template #conversationCardPlaceholder></ng-template>
        <div id="anchor"></div>
      </div>
      <div class="conversation-input">
        <input
          matInput
          type="text"
          [(ngModel)]="text"
          (keydown.enter)="submit()"
          placeholder="Ask Chatbot"
        />
        <div class="panel-actions">
          <button class="cancel-changes" mat-button (click)="clear()">
            CLEAR
          </button>
          <button class="save-changes" mat-button (click)="submit()">
            SEND
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
