.chatbot-content-container {
  background: url("../assets/bg.png") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  mat-card {
    background: rgba($color: #fff, $alpha: 0.8);
    padding: 20px;
    &.chat {
      width: 40%;
      margin-right: 20px;
    }
  }
  .conversation-list {
    overflow-y: auto;
  }
  .conversation-input {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid #33363f;
      margin-right: 10px;
      outline: none;
      height: 30px;
    }
    .panel-actions {
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;

      button {
        border: 1px solid;
        width: 48%;
        border-radius: 8px;
        &.cancel-changes {
          border-color: #33363f;
          color: #33363f;
          font-weight: normal;
          margin-right: 10px;
        }
        &.save-changes {
          color: #ffffff;
          border-color: #33363f;
          background-color: #33363f;
          font-weight: normal;
        }
      }
    }
  }
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @property --p {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }

  .pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
    text-align: center;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
        var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b))
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b))
    );
  }
  .pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg))
      translateY(calc(50% - var(--w) / 2));
  }

  span {
    font-size: 14px;
  }

  @keyframes p {
    from {
      --p: 0;
    }
  }
}
